!!!
%html
  %head
    %title Grubulate
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery.min", "rails", "jquery-ui.min", "application"
    = ajaxful_rating_style
    = csrf_meta_tag
    = yield :head
  %body
    %ul.hmenu
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
      %li
        = link_to "Recipes", recipes_path
    %p.notice
      = notice
    %p.alert
      = alert
    = yield
